*{
  background-color: #282c34;
}

.Header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Teams {
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}

.Dog {
  height: 100%;
  padding: 20px;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Footer{
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}