.Content{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    font-size: calc(6px + 2vmin);
    padding-bottom: 2.5rem; 
}

.Button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.Image{
    padding: 30px;
    height: 100%;
}
.Word{
    color: aliceblue;
}
