.Footer{
    background-color: #282c34;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; 
    color: #f5f5f5; 
    font-size: calc(10px + 2vmin);
    display: flex;
    justify-content: center; 
    align-items: center; 
    /* padding-top: 100px; */
}

.Footer a{
    padding-top: 30px;
    padding-bottom: 30px;
}